@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Knewave');
ul{ list-style-type: none; }


body {



	background-color: MistyRose;

	/*font-family: 'Fredericka the Great', cursive; */
	font-family: 'Knewave', cursive;

	text-align: center;

	/*font-size:*/
		}

h1{
font-family: 'Fredericka the Great', cursive; 

: 
}